In [47]:
import pandas as pd
import numpy as np

In [48]:
df = pd.read_csv("../starter/flight-manifest-csv/FlightManifest.csv")
df

,Passanger Name,Carrier,Flight No.,Class,From,To,Date,Baggage,Seat,Gate,Boarding Time,Ticket No.
0,Sameer Kumar,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,34A,G1,10:00 AM PST,34236746
1,Radha S. Kumar,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,34B,G1,10:00 AM PST,34236747
2,James Webb,UA,234,Business,San Francisco,Chicago,"April 20, 2022",No,1A,G1,10:00 AM PST,34236748
3,Libby Herold,UA,234,Business,San Francisco,Chicago,"April 20, 2022",No,3D,G1,10:00 AM PST,34236749
4,James Jackson,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,25B,G1,10:00 AM PST,34236750
5,Avkash Chauhan,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",No,20A,G1,10:00 AM PST,34236751

In [49]:
df[["FirstName", "LastName"]] = df['Passanger Name'].str.rsplit(n=1, expand=True)
df = df.drop('Passanger Name', axis=1)
#df

In [50]:
#df['DateOfBirth'] = np.random.choice(pd.date_range('1940-01-01', '2010-01-01'), 6)
df['DateOfBirth'] = ['1990-01-25', '1994-03-05', '1970-12-15', '1996-02-10', '1956-10-12', '1990-01-01']
#df['Date of Birth'] = df['Date of Birth'].dt.strftime("%B %d, %Y")

In [51]:
df['Sex'] = ['M', 'F', 'M', 'F', 'M', 'M']
#df

In [52]:
df['NameValidation'] = False
df['DoBValidation'] = False
df['PersonValidation'] = False
df['BoardingPassValidation'] = False
df['LuggageValidation'] = False
#df

In [53]:
# Rename columns (CamelCase)
df.rename(columns={'Flight No.':'FlightNo', 'Boarding Time':'BoardingTime', 'Ticket No.':'TicketNo'}, inplace=True)
#df

In [54]:
# List of new values
new = ['UA',234,'Economy','San Francisco','Chicago','April 20, 2022','No','16F','G1','10:00 AM PST',34236752,'Johannes','Czylwik','1989-05-09','M',False, False,False,False,False]
# New data as pandas.DataFrame
new = pd.DataFrame(columns=df.columns, data=[new])
# Overwrite original dataframe
df = pd.concat([df, new], axis=0)

In [55]:
df['DateOfBirth'] = pd.to_datetime(df['DateOfBirth'])
df['Date'] = pd.to_datetime(df['Date'])
df

,Carrier,FlightNo,Class,From,To,Date,Baggage,Seat,Gate,BoardingTime,TicketNo,FirstName,LastName,DateOfBirth,Sex,NameValidation,DoBValidation,PersonValidation,BoardingPassValidation,LuggageValidation
0,UA,234,Economy,San Francisco,Chicago,2022-04-20,YES,34A,G1,10:00 AM PST,34236746,Sameer,Kumar,1990-01-25,M,False,False,False,False,False
1,UA,234,Economy,San Francisco,Chicago,2022-04-20,YES,34B,G1,10:00 AM PST,34236747,Radha S.,Kumar,1994-03-05,F,False,False,False,False,False
2,UA,234,Business,San Francisco,Chicago,2022-04-20,No,1A,G1,10:00 AM PST,34236748,James,Webb,1970-12-15,M,False,False,False,False,False
3,UA,234,Business,San Francisco,Chicago,2022-04-20,No,3D,G1,10:00 AM PST,34236749,Libby,Herold,1996-02-10,F,False,False,False,False,False
4,UA,234,Economy,San Francisco,Chicago,2022-04-20,YES,25B,G1,10:00 AM PST,34236750,James,Jackson,1956-10-12,M,False,False,False,False,False
5,UA,234,Economy,San Francisco,Chicago,2022-04-20,No,20A,G1,10:00 AM PST,34236751,Avkash,Chauhan,1990-01-01,M,False,False,False,False,False
0,UA,234,Economy,San Francisco,Chicago,2022-04-20,No,16F,G1,10:00 AM PST,34236752,Johannes,Czylwik,1989-05-09,M,False,False,False,False,False

In [56]:
df.to_csv("manifest.csv", sep=',', index=False)

In [57]:
df.dtypes

Carrier                           object
FlightNo                           int64
Class                             object
From                              object
To                                object
Date                      datetime64[ns]
Baggage                           object
Seat                              object
Gate                              object
BoardingTime                      object
TicketNo                           int64
FirstName                         object
LastName                          object
DateOfBirth               datetime64[ns]
Sex                               object
NameValidation                      bool
DoBValidation                       bool
PersonValidation                    bool
BoardingPassValidation              bool
LuggageValidation                   bool
dtype: object